body {background-color:black;font-family:arial;color:white}
h1{color:grey;font-family:verdana}
.maindiv {
    /*increased the width of the div so that the center align is more visible and easier to read*/
    background-color:white;color:black;width:500px;padding:20px; border-radius:25px; margin:auto;
}
/*Created a second Div to center align just the user input content*/
.contentalign{
    width:300px;
    margin:0px auto 0px auto;
}
label{
    width:100px;
    display:inline-block;
}
.highlight{
    background-color:yellow;
}
